<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.supcon.supplant">

    <application
        android:name="com.supcon.mes.middleware.SupPlantApplication"
        android:allowBackup="true"
        android:icon="${APP_ICON}"
        android:label="${APP_NAME}"
        android:largeHeap="true"
        android:roundIcon="${APP_ROUND_ICON}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_config"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup, android:label, android:name">

        <meta-data android:name="android.max_aspect"
            android:value="2.1" />

        <meta-data
            android:name="APP_SHARE_ID"
            android:value="${APP_SHARE_ID}"/>
        <meta-data
            android:name="APP_NAME"
            android:value="${APP_NAME}"/>
        <meta-data
            android:name="APP_ICON"
            android:value="${APP_ICON}"/>

        <meta-data
            android:value="${CHANNEL_VALUE}"
            android:name="CHANNEL_VALUE"/>

        <meta-data
            android:value="${XG_ACCESS_ID}"
            android:name="XG_ACCESS_ID"/>

        <meta-data
            android:value="${XG_ACCESS_KEY}"
            android:name="XG_ACCESS_KEY"/>

        <meta-data
            android:value="${PACKAGE_NAME}"
            android:name="PACKAGE_NAME"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>